* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}
*:active {
    cursor: url('../imagens/mata_mosca_clicked.png') 50 0, auto;
}

html {
    cursor: url('../imagens/mata_mosca.png') 30 30, auto;
}

body {
    background: url('../imagens/bg.jpg')  #2f4f4f;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
}

.mosca1 {
    width: 50px;
    height: 50px;
}

.mosca2 {
    width: 100px;
    height: 100px;
}

.mosca3 {
    width: 80px;
    height: 80px;
}

.ladoB {
    /* Apenas ladoB criado, devido o ladoA ser a rotação padrão */
    transform: scaleX(-1);
}

.titulo {
    filter: drop-shadow(0 0 .5em #000);
}

.painel {
    position: absolute;
    width: 190px;
    left: 0px;
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: .7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}